@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-BoldIt.woff2") format("woff2"), url("../fonts/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Proxima Nova Rg";
  line-height: 1;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header {
  background-color: #264f83;
  padding: .875rem 1rem;
  max-height: 100px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav .brand-logo {
  width: 40px;
}

header nav .brand-logo img {
  width: 120px;
}

header nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

header nav .menu li {
  list-style: none;
  padding: 5px 10px;
  border-right: 1px solid white;
  font-size: .875rem;
}

header nav .menu li:last-child {
  border: none;
}

header nav .menu li a {
  color: white;
  position: relative;
}

header nav .menu li a::before {
  content: attr(value);
  position: absolute;
  color: red;
}

.hero-container {
  height: calc(100vh - 100px);
  background-color: #000;
  position: relative;
}

.hero-container .square {
  position: absolute;
  left: 0;
  bottom: 50px;
  background-color: #8bb7db;
  color: white;
  font-size: 28px;
  font-style: italic;
  line-height: 1;
  letter-spacing: 1px;
  max-width: 670px;
  padding: 1.5rem 2.5rem;
}

.who-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30vh;
  padding: 1rem 2rem;
}

.who-container .content {
  max-width: 850px;
  margin: 0 auto;
}

.who-container .content .title {
  text-align: center;
  color: #2a6ed2;
  font-size: 2rem;
  font-weight: bold;
}

.who-container .content .desc {
  text-align: justify;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.3;
  margin: 10px;
}

.procedimientos-options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.procedimientos-options-container .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33%;
          flex: 1 0 33%;
  min-height: 220px;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #dce5ee;
  cursor: pointer;
}

.procedimientos-options-container .item .title {
  height: 70px;
  line-height: 1;
  font-size: 1.5rem;
  color: #333333;
  font-weight: bold;
}

.procedimientos-options-container .item .title small {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 5px;
}

.procedimientos-options-container .item:nth-child(even) {
  background-color: #8bb7db;
}

.procedimientos-options-container .item:nth-child(even) .title {
  color: white;
}

.procedimientos-content-container {
  min-height: 600px;
  padding: 3rem;
}

.procedimientos-content-container .container {
  max-width: 1024px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.procedimientos-content-container .container .col:first-child {
  width: 40%;
}

.procedimientos-content-container .container .col:last-child {
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.procedimientos-content-container .container .col .title {
  padding-left: 10px;
  border-left: 4px solid #8bb7db;
  font-size: 2rem;
  margin: 0;
  color: #264f83;
}

.procedimientos-content-container .container .col .title small {
  font-size: 1.25rem;
  display: block;
  color: black;
}

.procedimientos-content-container .container .col .desc {
  max-width: 400px;
  margin-left: 4px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 20px;
}

.procedimientos-content-container .container .col img {
  width: 90%;
  margin: 0 auto;
}

.chapa-container {
  background-color: #264f83;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chapa-container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 640px;
}

.chapa-container .col .image {
  background-color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.chapa-container .col .content {
  padding: 20px;
  padding-left: 40px;
}

.chapa-container .col .content .title {
  color: white;
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

.chapa-container .col .content .title:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: calc(100% + 2px);
  background-color: #8bb7db;
}

.chapa-container .col .content .title small {
  font-size: 1rem;
}

.chapa-container .col .content .desc {
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.chapa-container .col .content .button {
  color: #264f83;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 24px;
  border: 1px solid white;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: .6px;
}

.chapa-container .col .content .button:hover {
  color: white;
  background-color: #264f83;
}
/*# sourceMappingURL=index.css.map */