@media screen and (min-width: 320px) and (max-width: 767px) {
    footer {
        border-top: 1px solid rgba($main, 0.5);
        .col {
            flex: 1 0 20%;
            padding: 10px 30px;
        }
    }
}

@media screen and (min-width: 768px) {
    footer {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        .col {
            flex: 1 0 20%;
            padding: 30px;
        }
    }
}
