header {
    background-color: $main;
    padding: .875rem 1rem;
    max-height: 100px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .brand-logo {
            width: 40px;
            img {
                width: 120px;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0;
            li {
                list-style: none;
                padding: 5px 10px;
                border-right: 1px solid white;
                font-size: .875rem;
                &:last-child {
                    border: none;
                }
                a {
                    color: white;
                }
            }
        }
    }
}