header {
  background-color: $main;
  padding: 0.99rem 1.3rem;
  // max-height: 100px;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .brand-logo {
      width: 150px;
      img {
        width: 100%;
      }
    }
    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0;
      li {
        list-style: none;
        padding: 5px 10px;
        border-right: 1px solid #3d6999;
        font-size: 1rem;
        cursor: pointer;

        &:last-child {
          border: none;
        }
        a {
          padding-top: 10px;
          color: #fff;
          text-shadow: 2px 1px 0px #3c6998;
        }
      }
    }
  }
}
